body {
  font-family: Noto + Sans !important;
  background-color: #d2fdff;
}

.navbar {
  background-color: #303c6c;
  color: #b4dfe5;
}

.navbar-toggler {
  background-color: #303c6c;
  color: #b4dfe5;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

.col {
  width: 100%;
  display: flex;
}

main {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.picture {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.container {
  display: flex;
  margin: 20px;
  padding: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container-img {
  margin: 20px;
}

#gameApp {
  display: flex;
  width: 25rem;
  height: 34.5rem;
  background-image: url(assets/gamesLight.png);
}

#gameApp:hover {
  background-image: url(assets/gamesDark.png);
}

body {
  font-family: Noto + Sans !important;
}
.toggler {
  height: 30px;
  width: 60px;
  border-radius: 25px;
  margin-right: 20px;
}
.toggle {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  transition: margin-left 0.5s ease;
}

.theme1 {
  color: #fbe86a;
}

.theme2 {
  color: #f4976c;
}

.theme3 {
  color: #303c6c;
}

.theme4 {
  color: #b4dfe5;
}

.theme5 {
  color: #d2fdff;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #b4dfe5;
}
